---
---

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  color: #fff;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
}

.list-inline-item a {
  color: #fff;
}

.list-inline-item a:hover {
  text-decoration: underline;
}

/* Parallax hero section */
.hero {
  background: url('/assets/images/hero-image.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: -1;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.2em;
  margin: 10px 0 0;
}